<p style="text-align: center;" id="notice"><%= notice %></p>

<div style="text-align: center;">
  <h3>商品一覧</h3>
</div>

<div style="text-align: center;">
  <%= form_tag(update_coupon_status_items_path, class: "centered-form") do %>
    <div style="margin: 0 auto; display: table;">
      <table class="centered-table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>クーポンステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= check_box_tag 'item_ids[]', item.id, item.coupon_status, class: "centered-checkbox" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="centered-submit">
      <%= submit_tag '登録' %>
    </div>
  <% end %>
</div>
