<p id="notice"><%= notice %></p>

<h3>商品一覧</h3>

<%= form_with url: update_coupon_status_items_path do |f| %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>クーポンステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= check_box_tag 'item_ids[]', item.id, item.coupon_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit '登録' %>
<% end %>
